/*======================
    Technologies and Materials Area 
========================*/

.techAndMaterials {

    .description {
        color: #5b5b5b;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
    }
}